APP_ENV=local
APP_DEBUG=true
APP_KEY=zh7o6dZydskavVoYrjNPWGJZmP43Q1SI

DB_HOST=localhost
DB_DATABASE=forge
DB_USERNAME=root
DB_PASSWORD=

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

MAIL_DRIVER=mailgun
MAIL_HOST=smtp.mailgun.org
MAIL_PORT=587
MAIL_USERNAME=postmaster@steambd.com
MAIL_PASSWORD=32b7dd348a53efd2cbe36d3577c397ab
MAIL_ENCRYPTION=tls


verify_token=my_name_is_masiur_rahman_siddiki
token=EAAQLUNrZBmIIBAJW950kPpDfh0NnU8inNW2iG1bqY6pr9tTeHtaWESvv6pAxJ3IIjCpqVSCY3ibTCkjy82a78BKqPZCtyHPSc4OcSSUf8tf6IbeQIJn1K1wzpae8lXs73ZAuwgVZBKSdzrK8jWXZBIyJhMCNPq2cLJ7snHtwnCwZDZD

