# Laravel 5 & Lumen specific


/vendor
composer.phar
composer.lock
.php_cs.cache
.DS_Store
Thumbs.db
### PhpStorm ###


# Composer


## Directory-based project format:
.idea/
# if you remove the above rule, at least ignore the following:

# User-specific stuff:
# .idea/workspace.xml
# .idea/tasks.xml
# .idea/dictionaries
# .idea/shelf

# Packages

